/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require active_scaffold
 *= require_self
 *= require_tree .
 */

html{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}
body{
    height: 100%;
    width: 100%;
    font-family: verdana;
}
.container{
    z-index: 1;
}

#bg{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    background: #111 url("bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper{
    height: 100%;
    width: 1000px;
    position: relative;
    margin:auto;
}
#banner{
    height:300px;
    width:100%;
    background: #111 url("banner/Beatroot_WebBanner_01.jpg") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    margin:10px 0;
  border-radius:5px;
}

#sidebar{
    height: auto;
    width:300px;
    float:right;
    overflow-x:hidden;
}

#content{
  height: auto;
  width:670px;
  float:left;
  overflow-x:hidden;
  background: #111;
  border-radius:5px;
  padding: 10px;
  min-height: 500px;
  border:1px solid #222;
}

#page{
  height: auto;
  width:100%;
  margin:10px 0;
  color:#fefefe;
  .page{
    display:none;
  }
  #home{
    display:block;
  }
}

nav{
  display:block;
  ul{
    height: 40px;
    margin: 0;
    border-radius: 5px;
    background: #fefefe;
    border: 1px solid #ccc;
    li{
      line-height:30px;
      list-style: none;
      float: left;
      padding: 5px 10px;
      a{
        color: #111;
        text-decoration: none;
        &:hover, &.active{
          color:red;
          text-decoration: none;
        }
      }
    }
  }
}