/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$red : #991d1d;
$gray : #242424;
$gray_top : #444444;
$gray_bottom : #222222;
$black : #111111;
$white : #555555;
$txwhite : #ccc;

html{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}
body{
    height: 100%;
    width: 100%;
    font-family: verdana;
}
.container{
    z-index: 1;
}

#bg{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    background: #313131;//#111 url("bg.png") no-repeat center center;
  &.guy{
    background: #111 url("banner/1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  position:fixed;
  left:30px;
  top:30px;
  z-index: 10;
}

#wrapper{
    height: 100%;
    width: 92%;
    min-width: 640px;
    max-width: 1200px;
    position: relative;
    margin:auto;
}
#banner{
  //height:350px;
  width:100%;
  //background: #111 url("banner2.jpg") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  position:relative;
  margin:10px 0;
  border-radius:2px;
  &.guy{
    visibility:hidden;
  }
  ul{
    list-style: none;
    li{
      float:left;
    &.banner{
      height:400px;
      width:100%;
      background: #111 url("banner/Beatroot_WebBanner_01.jpg") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position:absolute;
      display:block;
      top:0;
      left:0;
    }
    }
  }
}

#sidebar{
  height: auto;
  width:400px;
  float:right;
  overflow-x:hidden;
  div.stream{
    margin-bottom:10px;
    border-radius: 2px;
    border: 1px solid #666;
    overflow:hidden;
    background:#111;
    iframe{
      line-height: 0px;
      padding: 0;
      margin: 0;
      margin-bottom: -7px;
    }
    &#mailing_list{
      #subscribe{
        width:220px;
        margin:auto;
        display:block;
        padding:10px;
        input#subscribe_button{
          border-radius: 5px;
          background: $red;
          color: $txwhite;
          text-transform: uppercase;
          font-weight: bold;
          border: 1px solid #111;
          height: 30px;
          margin: auto;
          display: block;
        }
      }
      #subscription_complete{
        display:none;
        padding: 20px;
        h1{
          color: $red;
          font-size: 15px;
          line-height: 20px;
          font-weight: bold;
        }
        p{
          color: $txwhite;
          font-size: 13px;
          line-height: 17px;
          font-weight: normal;
        }
      }
      .title{
        font-size:16px;
        text-align:center;
        color:$red;
        padding:10px;
      }
      .input{
        text-align:center;
        margin:auto;
      }
    }
  }
}

#content{
  height: auto;
  width:100%;
  float:left;
  overflow-x:visible;
  background: #353334;
  border-radius:2px;
  min-height: 500px;
  border:1px solid #222;
  position: relative;
  color:$txwhite;
  font-family: 'Arial', serif;
  font-weight:400;
  background: -moz-linear-gradient(top, #3f3f3f 0%, #3f3f3f 50px, #292526 383px, #292526 100%, #3f3f3f 100%, #292526 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #3f3f3f 0%,#3f3f3f 50px,#292526 383px,#292526 100%,#3f3f3f 100%,#292526 100%); /* Chrome10+,Safari5.1+ */

  img{
    margin-bottom:10px;
  }
  h1{
    line-height:28px;
    font-size:18px;
    color:$red;
  }
  p{
    line-height:24px;
    font-size:14px;
    font-weight: normal;
    color:$txwhite;
    &.dark, &.light{
      margin: 0 -10px 0 -40px;
      padding: 10px 10px 10px 40px;
    }
    &.dark{
      background: #141414;
    }
    &.light{
      background: -moz-linear-gradient(right, #141414 0%, #272324 100%, #141414 100%, #272324 100%); /* FF3.6+ */
      background: -webkit-linear-gradient(right, #141414 0%, #272324 100%, #141414 100%, #272324 100%); /* FF3.6+ */

    }
  }
  a{
    font-size:13px;
    color:$red;
    text-decoration: none;
    :hover{
      text-decoration: underline;
    }
  }
  iframe{
    border: 1px solid #111;
    margin: 5px 0;
  }
}

#page{
  height: auto;
  width:100%;
  padding: 10px;
  margin-top:50px;
  position:relative;
  padding-bottom: 0;
  .page{
    display:none;
    margin-right: 20px;
    margin-left: 30px;
    position:relative;
    .name{
      position: absolute;
      left: -41px;
      z-index: 10;
      height: 110px;
    }
  }
  .active{
    display:block;
  }
}

.nav{
  display:block;
  height: 50px;
  position:absolute;
  top:0px;
  width:100%;
  margin: 0;
  border-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-image: -ms-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
  background-image: -moz-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
  background-image: -o-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gray_top), color-stop(1, $gray_bottom));
  background-image: -webkit-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
  background-image: linear-gradient(to bottom, $gray_top 0%, $gray_bottom 100%);
  ul{

    height: 38px;
    margin:5px;
    border: 1px solid $black;
    border-width:1px 0;

    li{
      line-height:38px;
      height:38px;
      list-style: none;
      float: left;
      text-align: center;

      background-image: -ms-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
      background-image: -moz-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
      background-image: -o-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gray_top), color-stop(1, $gray_bottom));
      background-image: -webkit-linear-gradient(top, $gray_top 0%, $gray_bottom 100%);
      background-image: linear-gradient(to bottom, $gray_top 0%, $gray_bottom 100%);

      border: 1px solid $black;
      border-color: $black $white $black $black ;
      border-width: 0 1px;

      color: $txwhite;
      cursor: pointer;

      &:hover{
        color:$red;
      }
      &.active{
        color:$red;
        background-image: -ms-linear-gradient(top, $gray_bottom 0%, $gray_top 100%);
        background-image: -moz-linear-gradient(top, $gray_bottom 0%, $gray_top 100%);
        background-image: -o-linear-gradient(top, $gray_bottom 0%, $gray_top 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $gray_bottom), color-stop(1, $gray_top));
        background-image: -webkit-linear-gradient(top, $gray_bottom 0%, $gray_top 100%);
        background-image: linear-gradient(to bottom, $gray_bottom 0%, $gray_top 100%);
      }
      a{
        color:inherit;
        text-decoration: none;
        text-align: center;

        &:hover, &.active{
          text-decoration: none;
        }
      }
    }
  }
}

