/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
    height: 100%;
    width: 100%;
    overflow:hidden;
}
body{
    height: 100%;
    width: 100%;
    background: #111 url("bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    position:absolute;
    z-index: 1;
}

#banner{
    height:30%;
    width:100%;
    left:0px;
    top:0px;
    background: #111 url("banner/Beatroot_WebBanner_01.jpg") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sidebar{
    height: 70%;
    width:30%;
    right:0px;
    top:30%;
    overflow-x:hidden;
    overflow-y:scroll;
}

#content{
    height: 70%;
    width:70%;
    left:0px;
    top:30%;
    overflow-x:hidden;
    overflow-y:scroll;
}