/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    z-index: 1;
}

#bg{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    background: #111 url("bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper{
    height: 100%;
    width: 1000px;
    position: relative;
    margin:auto;
}
#banner{
    height:300px;
    width:100%;
    background: #111 url("banner/Beatroot_WebBanner_01.jpg") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    margin:10px 0;
}

#sidebar{
    height: auto;
    width:300px;
    float:right;
    overflow-x:hidden;
}

#content{
    height: auto;
    width:690px;
    float:left;
    overflow-x:hidden;
}