      <nav>
        <ul>
          <% first = true %>
          <% @pages.each do |p| %>
            <li><%= link_to p.name, '#', :onclick=>"show_page(this, '#{p.name.downcase}');", :class=>(first ? 'active' : '') %></li>
            <% first = false %>
          <% end %>
        </ul>
      </nav>