<div id="streams">
  <div id="soundcloud" class="stream" ></div>
  <div id="mailing_list" class="stream" ></div>
  <div id="tweeter" class="stream" ></div>
  <div id="facebook"  class="stream"></div>
</div>
