<div id="streams">
  <div id="soundcloud" class="stream" >
    <iframe width="300" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F4315803"></iframe>
  </div>
  <div id="mailing_list" class="stream" >
    <div class='title'>Join our Mailing List!</div>
    <div class='input'><input type="text" /></div>
  </div>
  <div id="twitter" class="stream" >
    <a class="twitter-timeline" data-dnt="true" width="300" height="300" href="https://twitter.com/BeatrootNews" data-widget-id="302822508762107904">Tweets by @BeatrootNews</a>
  </div>
  <div id="facebook"  class="stream">
    <div class="fb-like-box" data-href="http://www.facebook.com/beatrootofficial" data-height="300" data-width="300" data-show-faces="true" data-colorscheme="dark" data-stream="true" data-header="true"></div>
  </div>
</div>
