<div id="streams">
  <div id="soundcloud" class="stream" ></div>
  <div id="mailing_list" class="stream" ></div>
  <div id="twitter" class="stream" >
    <a style="margin:10px;" class="twitter-timeline" data-dnt="true" width="300" height="400" href="https://twitter.com/BeatrootNews" data-widget-id="302822508762107904">Tweets by @BeatrootNews</a>
  </div>
  <div id="facebook"  class="stream">
    <div style="margin:10px 0;" class="fb-like-box" data-href="http://www.facebook.com/beatrootofficial" data-height="400" data-width="300" data-show-faces="true" data-colorscheme="dark" data-stream="true" data-header="true"></div>
  </div>
</div>
